body {
    background-color: rgb(111, 138, 163);
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../src/media/mesmerizing-shot-crystal-blue-ocean-waves_181624-48854.avif');
    background-size: cover;
   
}

#mainContainer {
    margin-top: 30px;
}

#gameStartArea {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#labels {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin-bottom: 5px;
}

#pLabel {
    grid-column: 2;
}

#cLabel {
    visibility: hidden;
    grid-column: 3;
}

#playerB {
    grid-column: 2;
}

#aiB {
    grid-column: 3;
}

#playerControl {
    grid-column: 3;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: center;
}

#gameInfo {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

span {
    background-color: aliceblue;
    padding: 2px;
    border-radius: 5px;
}

#playerB, #aiB {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-width: 400px;
}

.boardLayout > div {
    border: 1px solid black;
    padding: 5px;
    background-color:rgb(68, 182, 216);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aiB {
    visibility: hidden;
}

@media (min-width: 1201px){
    #boardC {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }

}

@media (max-width: 1200px){
    #playerB {
        margin-bottom: 20px;
    }

}

#winnerCircle {
    margin-top: 20px;
    text-align: center;
}