#gameStartArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#boardC {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#playerB {
    grid-column: 1;
}

#aiB {
    grid-column: 2;
}

#playerB, #aiB {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-width: 400px;
}

.boardLayout > div {
    border: 1px solid black;
    padding: 5px;
    background-color:rgb(68, 182, 216);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aiB {
    visibility: hidden;
}